.forms{
    &__problem{
        &--on{
            border: solid 1px red;
        }
        &--off{
            border:solid 1px black;
        }
    }
}

.form{
    &__error{
        color:red;
        text-align: center;
    }
    &__modal{
        font-size:12px;
        transition: all 800ms ease-in-out;
        &.on{
            opacity:1;
            height:auto;
            padding-top: 5px;
            display: block;
            transition: all 800ms ease-in-out;
        }
        &.off{
            opacity:0;
            overflow: hidden;
        }
    }
}