.forms{
    &__problem{
        &--on{
            border: solid 1px red;
        }
        &--off{
            border:solid 1px black;
        }
    }
}

.form{
    &__error{
        color:red;
        text-align: center;
    }
}