@mixin input_group_control{
    &--group{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
        input:not([type="checkbox"]){
            width:100%;
            height:35px;
            padding-left:15px;
            font-size:1em;
            transition: all 500ms ease-in-out;
            margin-bottom:18px;
            &:hover, &:focus{
                height: 50px;
            }
        }
    }
}