.header{
    &__main{
        width:100%;
        height: 50px;
        background:$darkblue;
        display:flex;
        justify-content: space-around;
        ul{
            li a{
                color:white;
            }
        }
    }
    &__user{
        &--account{
            color:rgb(194, 194, 194);
        }
    }
}