*{
    margin:0;
    padding:0;
}


body{
    font-family: 'Roboto', sans-serif;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

ul{
    list-style: none;
}

a{
    color:black;
}

.main{
    &__section{
        display: flex;
        width: 95%;
        margin-top:50px;
        justify-content: center;
        margin: 0 auto;
        font-weight: bold;
        flex-direction: column;
    }
}